---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About me"
  heroImageOptimized="/src/assets/about/me-1.jpeg"
>
  <p class="mb-4">
    What's up, my name is <strong>William</strong> and I'm a software engineer and
    kiteboarder. I started working remotely in 2019, with already a passion for traveling
    and kiteboarding. This was the perfect opportunity to combine my passions. In
    search of escaping the cold winters of Quebec, I planned long trips to warm destinations,
    kiteboarding and working remotely. Finding information about the best places
    to go, the best spots to kiteboard, the best conditions to ride was a challenge,
    especially combined with the parameters of working remotely (wifi, power, etc).
  </p>

  <p class="mb-4">
    This is where <strong>Wind Chaser Chronicles</strong> comes in, it's a place
    to share my experiences around the world, sharing my tips for getting the most
    out of your kiteboarding trips while having a comfortable and productive remote
    work setup.
  </p>

  <p class="mb-4">
    Hopefully this inspires you to take your kiteboarding trips to the next level,
    and to live your best life.
  </p>

  <p class="text-right">
    Will
  </p>
</Layout>
