---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BlogCard from "../components/BlogCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background">
    <Header />
    <main class="max-w-6xl mx-auto px-4 py-4">
      <h1 class="font-bold mt-10 mb-8 font-display text-primary text-6xl md:text-9xl lg:text-[200px]">Wind Chaser Chronicles</h1>
      <p>
        Welcome to the Wind Chaser Chronicles, a series of spotlights on
        destinations that combine kiteboarding and remote work. Each post
        features a different destination, and includes tips on how to make the
        most of your time there. Hopefully you'll find some inspiration to
        chase the wind and work from somewhere new!
      </p>
    </main>
    <section class="max-w-6xl mx-auto px-4">
      <h2 class="text-3xl font-bold mt-8 mb-4 font-display">Latest spots</h2>
      <p class="text-md text-gray-500 mb-4">Where we've been and what we've been up to.</p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <BlogCard title="Paracas, Peru" image="/src/assets/spots/paracas/paracas-1.jpeg" date="Nov 2024" />
        <BlogCard title="Maui, Hawaii" image="/src/assets/spots/maui/maui-1.jpeg" date="Oct 2024" />
        <BlogCard title="Prea, Brazil" image="/src/assets/spots/prea/prea-2.jpeg" date="Nov 2023" />
      </div>
    </section>
    <Footer />
  </body>
</html>
<style>
  h1 {
    line-height: 0.8;
  }
</style>