---
interface Props {
  title: string;
  image: string;
  date: string;
}

const { title, image, date } = Astro.props;
---

<div class="relative rounded-sm overflow-hidden">
  <img
    src={image}
    alt={title}
    class="w-full h-72 object-cover"
  />
  <div class="absolute bottom-0 left-0 right-0 p-6 text-white">
    <div class="flex items-center text-sm">
      <span>{date}</span>
    </div>
    <h3 class="text-xl font-bold leading-tight">{title}</h3>
  </div>
</div>
